// Chassis tokens for docs
@import "@chassis-ui/tokens/dist/web/docs/chassis/main";

// Shared docs settings
@import "@chassis-ui/docs/scss/settings";

// Chassis CSS variables and mixins
@import "@chassis-ui/css/scss/functions";
@import "@chassis-ui/css/scss/tokens";
@import "@chassis-ui/css/scss/variables";
@import "@chassis-ui/css/scss/rfs";
@import "@chassis-ui/css/scss/maps";
@import "@chassis-ui/css/scss/mixins";
@import "@chassis-ui/css/scss/placeholders";

// Shared docs styles
@import "@chassis-ui/docs/scss/main";

:root {

  --feature-item-width: 560px;
  --gallery-image-height: 256px;

  @include media-breakpoint-down(medium) {
    --feature-item-width: 320px;
    --gallery-image-height: 128px;
  }

}

.module-item > a {
  box-shadow: none;
  --#{$prefix}icon-color: var(--#{$prefix}icon-main);
  &:hover {
    background-color: var(--#{$prefix}bg-highlight);
    --#{$prefix}icon-color: var(--#{$prefix}fg-highlight);
  }
}

// -----------------------------------------------------------------------------
// SLIDER
// -----------------------------------------------------------------------------

.feature-slider {
  @include media-breakpoint-up(medium) {
    z-index: 10;
    width: 100%;
    margin: 0 auto;

    // Swiper slide width
    .swiper-slide {
      display: flex;
      width: var(--feature-item-width, 560px);
      height: auto;
    }
    .swiper-navigation {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 20;
      width: #{calc(100vw - var(--#{$prefix}space-3xlarge))};
      //padding: 0 32px;
      transform: translate(-50%, 50%);
      > .button {
        color: var(--#{$prefix}fg-main);
      }
    }
  }
}
