@use "@chassis-ui/css/scss/config" as *;
@use "@chassis-ui/css/scss/mixins" as *;
@use "@chassis-ui/css/scss/functions" as *;

@layer custom {
  .anchor-link {
    padding: 0 .175rem;
    font-weight: 400;
    color: $link-main;
    text-decoration: none;
    opacity: 0;
    @include transition(color .15s ease-in-out, opacity .15s ease-in-out);

    &::after {
      content: "#";
    }

    &:focus,
    &:hover,
    :hover > &,
    :target > & {
      opacity: 1;
    }
  }
}
