@use "./vars" as *;

//
// Callouts
//

@layer custom {
  .cxd-callout {
    padding: 1.25rem;
    margin-block-start: 1.25rem;
    margin-block-end: 1.25rem;
    color: var(--cxd-callout-color, inherit);
    background-color: var(--cxd-callout-bg, var(--cx-neutral-bg-even));
    border-inline-start: .25rem solid var(--cxd-callout-border, var(--cx-neutral-border-main));

    h4 {
      margin-block-end: .25rem;
    }

    > :last-child {
      margin-block-end: 0;
    }

    + .cxd-callout {
      margin-block-start: -.25rem;
    }

    .cxd-code {
      background-color: rgba($black, .05);
    }
  }

  // Variations
  @each $variant in $cxd-callout-variants {
    .cxd-callout-#{$variant} {
      --cxd-callout-color: var(--cx-#{$variant}-fg-main);
      --cxd-callout-bg: var(--cx-#{$variant}-bg-even);
      --cxd-callout-border: var(--cx-#{$variant}-border-subtle);
    }
  }
}
