//
// Docs examples
//

.cxd-code-snippet {
  //background-color: var(--cx-bg-evident);
  margin: 0 ($cxd-gutter-x * -.5) 1rem;
  border: solid var(--cx-border-subtle);
  border-width: 1px 0;

  @include media-breakpoint-up(medium) {
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    @include border-radius(var(--cx-border-radius));
  }
}

.cxd-example {

  // background-color: var(--cx-bg-main);
  --cxd-example-padding: 1rem;

  position: relative;
  padding: var(--cxd-example-padding);
  margin: 0 ($cxd-gutter-x * -.5) 1rem;
  border: solid var(--cx-border-subtle);
  border-width: 1px 0;
  @include clearfix();

  @include media-breakpoint-up(medium) {
    --cxd-example-padding: 1.5rem;

    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    @include border-radius(var(--cx-border-radius));
    &:has(~ .highlight-toolbar) {
      @include border-bottom-radius(0);
    }
  }

  + p {
    margin-top: 2rem;
  }
}

//
// Code snippets
//

.highlight {
  position: relative;
  padding: 1.25rem ($cxd-gutter-x * .5);
  background-color: var(--cxd-pre-bg, var(--cx-bg-even));


  @include media-breakpoint-up(medium) {
    padding: 1.25rem;
    @include border-radius(calc(var(--cx-border-radius) - 1px));
  }

  @include media-breakpoint-up(large) {
    pre {
      margin-right: 1.875rem;
    }
  }

  pre {
    // padding: .25rem 0 .875rem;
    // margin-top: .8125rem;
    margin-bottom: 0;
    overflow: overlay;
    @include font-size(var(--cx-font-size-code-small));
    line-height: var(--cx-line-height-code-small);
    white-space: pre;
    background-color: transparent;
    border: 0;
  }

  pre code {
    color: var(--cx-fg-color); // Effectively the base text color
    word-wrap: normal;
  }
}

.cxd-example-snippet .highlight pre {
  margin-right: 0;
}

.highlight-toolbar {
  background-color: var(--cxd-pre-bg, var(--cx-bg-even));
  border-top: var(--cx-border-width) var(--cx-border-style) var(--cx-border-subtle);
  border-bottom: var(--cx-border-width) var(--cx-border-style) var(--cx-border-subtle);

  + .highlight {
    @include border-top-radius(0);
  }

  > a {
    @include font-size(var(--cx-font-size-small));
  }
}

.cxd-file-ref {
  .highlight-toolbar {
    border-top: 0;
    @include media-breakpoint-up(medium) {
      @include border-top-radius(calc(var(--cx-border-radius) - 1px));
    }
  }
}

.cxd-content .cxd-code-snippet {
  margin-bottom: 1rem;
}
