@use "@chassis-ui/css/scss/config" as *;
@use "@chassis-ui/css/scss/mixins" as *;

//
// Chassis - CSS docs content theming
//

@layer custom {
  .cxd-content {
    padding-block-end: 2rem;
    > h2,
    > h3,
    > h4 {
      --cx-heading-color: var(--cx-fg-main);
    }

    // Offset content from fixed navbar when jumping to headings
    > h2:not(:first-child) {
      margin-block-start: 3rem;
    }

    > h3 {
      margin-block-start: 2rem;
    }

    > ul li,
    > ol li {
      margin-block-end: .25rem;

      // stylelint-disable-next-line selector-max-type, selector-max-compound-selectors
      > p ~ ul {
        margin-block-start: -.5rem;
        margin-block-end: 1rem;
      }
    }

    > ol > li {
      &:has(:where(h3, h4):first-child)::marker {
        @include font-size(var(--cx-font-size-xlarge));
        font-weight: var(--cx-font-weight-strong);
      }
    }

    // Override Chassis - CSS defaults
    > .table,
    > .table-responsive .table {
      max-width: 100%;
      margin-block-end: 1.5rem;
      th,
      td:first-child > code { // stylelint-disable-line selector-max-compound-selectors
        white-space: nowrap;
      }
    }

  }

  a:has(code) {
    text-decoration: none;
    > code {
      color: var(--cx-link-color);
    }
  }

  .table-options {
    td:nth-child(2) {
      min-width: 160px;
    }
  }

  .table-options td:last-child,
  .table-utilities td:last-child {
    min-width: 280px;
  }

  .table-swatches {
    th {
      color: var(--cx-fg-main);
    }

    td code {
      white-space: nowrap;
    }
  }

  .cxd-title {
    --cx-heading-color: var(--cx-fg-main);
    --cx-font-size: 3rem;
  }

  .cxd-subtitle {
    @include map-font($font-context-lead, "blockquote");
    @include font();
  }

  .border-large-start {
    @include media-breakpoint-up(large) {
      border-inline-start: var(--cx-border-width) solid var(--cx-border-color);
    }
  }

  .cxd-summary-link {
    color: var(--cx-link-color);

    &:hover,
    details[open] > & {  // stylelint-disable-line selector-no-qualifying-type
      color: var(--cx-hover-color);
    }
  }

}
