// stylelint-disable selector-class-pattern

:root {
  /* Colors */
  --docsearch-primary-color: var(--cx-primary);
  --docsearch-soft-primary-color: var(--cx-primary-fg-subtle);
  --docsearch-subtle-color: var(--cx-border-subtle);
  --docsearch-text-color: var(--cx-fg-main);
  --docsearch-error-color: var(--cx-danger-fg-main);
  --docsearch-success-color: var(--cx-success-fg-main);
  --docsearch-secondary-text-color: var(--cx-fg-subtle);
  --docsearch-background-color: var(--cx-bg-main);
  --docsearch-icon-color: var(--cx-fg-subtle);
  --docsearch-container-background: var(--cx-black-dim-main);
  --docsearch-logo-color: var(--cx-primary);
  --docsearch-muted-color: var(--cx-fg-subtle);
  --docsearch-muted-color-darker: var(--cx-fg-slight);

  /* Spacing & Layout */
  --docsearch-spacing: var(--cx-space-medium);
  --docsearch-border-radius: var(--cx-border-radius-medium);
  --docsearch-icon-stroke-width: var(--cx-border-width-medium);

  /* Highlights & Focus */
  --docsearch-focus-color: var(--cx-primary);
  --docsearch-highlight-color: var(--cx-primary);

  /* Button */
  --docsearch-search-button-background: var(--cx-bg-main);
  --docsearch-search-button-text-color: var(--cx-fg-subtle);

  /* Modal */
  --docsearch-modal-width: 640px;
  // --docsearch-modal-height: 600px;
  // --docsearch-modal-variable-height: 60dvh;
  --docsearch-modal-background: var(--cx-bg-even);
  --docsearch-modal-shadow: var(--cx-box-shadow-large);

  /* Searchbox */
  // --docsearch-searchbox-height: 56px;
  // --docsearch-searchbox-initial-height: 56px;
  --docsearch-searchbox-background: var(--cx-bg-even);
  --docsearch-searchbox-focus-background: var(--cx-bg-main);
  // --docsearch-actions-width: 99px;
  // --docsearch-actions-height: 44px;

  /* Hit */
  // --docsearch-hit-height: 56px;
  --docsearch-hit-color: var(--cx-fg-main);
  --docsearch-hit-highlight-color: var(--cx-bg-highlight);
  --docsearch-hit-background: var(--cx-bg-main);

  /* Key */
  --docsearch-key-background: var(--cx-bg-main);
  --docsearch-key-color: var(--cx-fg-subtle);
  --docsearch-key-pressed-shadow: var(--cx-box-shadow-small);

  /* Footer */
  --docsearch-footer-height: 52px;
  --docsearch-footer-background: var(--cx-bg-evident);
  --docsearch-footer-shadow: var(--cx-box-shadow-small);

  /* Dropdown Menu */
  --docsearch-dropdown-menu-background: var(--docsearch-hit-background);
  --docsearch-dropdown-menu-item-hover-background: var(--docsearch-modal-background);
}

.cxd-search {
  position: relative;

  @include media-breakpoint-up(large) {
    position: absolute;
    top: 20%;
    right: 12rem;
    width: 200px;
  }
  @include media-breakpoint-up(2xlarge) {
    left: 50%;
    margin-left: 16rem;
  }
}

.DocSearch-Container {
  position: fixed;
  z-index: 2000; // Make sure to be over all components showcased in the documentation
  cursor: auto; // Needed because of [role="button"] in Algolia search modal. Remove once https://github.com/algolia/docsearch/issues/1370 is tackled.

  @include media-breakpoint-up(large) {
    padding-top: 4rem;
  }
}

.DocSearch-Button {
  width: 100%;
  height: 38px; // Match Chassis inputs
  margin: 0;
  border: var(--cx-border-width-medium) solid var(--cx-border-subtle);
  @include border-radius(var(--cx-border-radius-medium));

  .DocSearch-Search-Icon {
    opacity: .65;
  }

  &:active,
  &:focus,
  &:hover {
    .DocSearch-Search-Icon {
      opacity: 1;
    }
  }

  @include media-breakpoint-down(large) {
    &,
    &:hover,
    &:focus {
      background: transparent;
      border: 0;
      box-shadow: none;
    }
    &:focus {
      box-shadow: var(--docsearch-searchbox-shadow);
    }
  }
}

.DocSearch-Button-Keys,
.DocSearch-Button-Placeholder {
  @include media-breakpoint-down(large) {
    display: none;
  }
}

.DocSearch-Button-Keys {
  min-width: 0;
  padding: .125rem .5rem;
  background: var(--cx-bg-evident);
  @include border-radius(var(--cx-border-radius-small));
}

.DocSearch-Button-Key {
  top: 0;
  width: auto;
  padding: 0;
  @include font-size(.875rem);
  background: none;
  border: 0;
  box-shadow: none;
}

.DocSearch-Commands-Key {
  width: 16px;
  height: 16px;
  padding: 0;
  color: var(--cx-icon-subtle);
  background: none;
  box-shadow: none;
  @include border-radius(var(--cx-border-radius-small));
  .DocSearch-Escape-Key {
    @include font-size(var(--cx-font-size-xsmall));
  }
}

.DocSearch-Action:hover,
.DocSearch-AskAi-Return:hover {
  background: none;
}

.DocSearch-Hit {
  padding-bottom: 0;
  @include border-radius(0);

  a {
    @include border-radius(0);
    border: solid var(--cx-border-subtle);
    border-width: 0 var(--cx-border-width) var(--cx-border-width);
  }

  &:first-child a {
    @include border-top-radius(var(--cx-border-radius));
    border-top-width: var(--cx-border-width);
  }
  &:last-child a {
    @include border-bottom-radius(var(--cx-border-radius));
  }
}

.DocSearch-Hit-icon {
  display: flex;
  align-items: center;
  margin-right: var(--cx-space-xsmall);
}

.DocSearch-Hit-content-wrapper {
  gap: 0;
}

.DocSearch-Hit-action-button:focus,
.DocSearch-Hit-action-button:hover {
  color: var(--cx-primary-fg-main);
  background: none;
}

.DocSearch-Hit-action-button:focus path,
.DocSearch-Hit-action-button:hover path {
  fill: none;
}

// Fix --docsearch-logo-color that doesn't do anything
.DocSearch-Logo svg .cls-1,
.DocSearch-Logo svg .cls-2 {
  fill: var(--docsearch-logo-color);
}
