//
// Footer
//

.cxd-footer {
  // margin-top: 0 !important;
  // margin-top: 4rem;
  --cx-fg-color: var(--cx-fg-subtle);
  background-color: var(--cx-bg-evident);
  // border-top: var(--cx-border-width) var(--cx-border-style) var(--cx-border-subtle);
  .nav {
    display: block;
    > li {
      display: list-item;
      margin-bottom: var(--cx-space-xsmall);
    }
  }

  a {
    color: var(--cx-fg-color);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--cx-hover-color);
      text-decoration: underline;
    }
  }
}
