//
// Footer
//

@layer custom {
  .cxd-footer {
    --cx-fg-color: var(--cx-fg-subtle);
    background-color: var(--cx-bg-evident);
    .nav {
      display: block;
      > li {
        display: list-item;
        margin-block-end: var(--cx-space-xs);
      }
    }

    a,
    .cxd-footer-link {
      color: var(--cx-fg-color);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--cx-hover-color);
        text-decoration: underline;
      }
    }

    // A button that looks like the links next to it
    .cxd-footer-link {
      padding: 0;
      font: inherit;
      cursor: pointer;
      background: none;
      border: 0;
    }
  }
}
