//
// Footer
//

@layer custom {
  .cxd-footer {
    --cx-fg-color: var(--cx-fg-subtle);
    background-color: var(--cx-bg-evident);
    .nav {
      display: block;
      > li {
        display: list-item;
        margin-block-end: var(--cx-space-xsmall);
      }
    }

    a {
      color: var(--cx-fg-color);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--cx-hover-color);
        text-decoration: underline;
      }
    }
  }
}
