@use "@chassis-ui/css/scss/mixins" as *;

@layer custom {
  .cxd-navbar {
    padding: 0;
    border-block-end: var(--cx-border-width-medium) solid var(--cx-border-subtle);

    > .container {
      position: relative;
    }

    .navbar-toggler,
    .nav-link {
      --cx-caret-color: var(--cx-fg-color);
      @include font-size(var(--cx-font-size-small));
      font-weight: var(--cx-font-weight-strong);
      text-transform: uppercase;
      .icon {
        --cx-icon-color: var(--cx-fg-color);
      }

      @include media-breakpoint-up(large) {
        padding: var(--cx-space-large) var(--cx-space-xsmall);
        &.active {
          padding-block-end: var(--cx-space-medium);
          border-block-end: var(--cx-border-width-2xlarge) solid var(--cx-primary-cue-main);
        }
      }
    }
  }
}
