@use "@chassis-ui/css/scss/config" as *;
@use "@chassis-ui/css/scss/mixins" as *;

@layer custom {
  .cxd-sidebar {
    --cx-cue-main: var(--cx-secondary-cue-main);
    --cx-bg-active: var(--cx-secondary-bg-solid);
    --cx-fg-active: var(--cx-secondary-fg-solid);
    --cx-bg-highlight: var(--cx-default-bg-highlight);
    --cx-fg-highlight: var(--cx-fg-main);

    @include media-breakpoint-up(large) {
      position: sticky;
      top: 4rem;
      display: block;
      max-height: #{calc(100vh - 3rem)};
      padding: 1.5rem 0;
      padding-inline-end: .5rem;
      overflow-x: visible;
      // Prevent focus styles to be cut off:
      overflow-y: auto;
      border-inline-end: var(--cx-border-width) solid var(--cx-border-subtle);
    }

    @include media-breakpoint-down(large) {
      .#{large-down\:}drawer {
        border-right-color: var(--cx-border-color);
        box-shadow: var(--cx-box-shadow-large);
      }
    }
  }

  .cxd-links {
    position: relative;
  }

  .cxd-links-group {
    padding: 0;
    margin: 0;
    margin-block-end: 1rem;
    list-style: none;

    &.active {
      padding-inline-end: .5rem;
      margin-inline-end: -.5rem;
    }

    ul {
      padding: 0;
      margin: .25rem 0;
      list-style: none;
    }

    @include media-breakpoint-up(large) {
      li:has(.active) {
        // --cx-cue-main: var(--cx-secondary-contrast-color);
      }
      li:not(.cxd-links-subgroup)::before {
        position: absolute;
        width: 1px;
        height: 2em;
        margin-inline-start: .4rem;
        font-family: var(--cx-font-family-icon);
        content: "";
        background-color: var(--cx-cue-main);
      }

      li:not(.cxd-links-subgroup, :only-child):first-child::before,
      .cxd-links-subgroup + li::before {
        height: 2em;
        margin-block-start: .8em;
      }

      li:last-child::before,
      li:has(+ .cxd-links-subgroup)::before {
        height: .8em;
      }

      li:first-child:has(+ .cxd-links-subgroup)::before,
      li:only-child::before {
        height: .8em;
        margin-block-start: .4em;
      }

      li:not(.cxd-links-subgroup)::after {
        position: absolute;
        left: 0;
        width: .5rem;
        height: 1px;
        margin-block-start: .8em;
        content: "";
        background-color: var(--cx-cue-main);
        @include border-radius(50%);
        [dir="rtl"] & {
          right: 0;
          left: auto;
        }
      }
    }
  }

  .cxd-links-heading {
    --cx-icon-color: var(--cx-fg-main);
    --cx-icon-size: var(--cx-icon-xsmall);
    display: flex;
    gap: var(--cx-space-xsmall);
    align-items: center;
    color: var(--cx-fg-main);
  }

  .cxd-links-subgroup {
    @include font-size(var(--cx-font-size-xsmall));
    @include line-height(var(--cx-line-height-small));
    --cx-icon-size: var(--cx-icon-xsmall);
    padding-inline-start: 1.5rem;
    margin-block: 1em .25em;
    font-weight: var(--cx-font-weight-strong);
    color: var(--cx-primary-fg-main);
    text-transform: uppercase;
  }


  .cxd-links-nav {
    @include media-breakpoint-down(large) {
      @include font-size(.875rem);
    }

    @include media-breakpoint-between(xsmall, large) {
      column-count: 2;
      column-gap: 1.5rem;

      .cxd-links-group {
        break-inside: avoid;
      }

      .cxd-links-span-all {
        column-span: all;
      }
    }
  }

  .cxd-links-link {
    display: inline-block;
    width: 100%;
    padding: .15rem .5rem;
    padding-inline-start: 1.5rem;
    margin-inline-start: 0;
    color: var(--cx-fg-color);
    text-decoration: if(sass($link-decoration == none): null; else: none);
    @include font-size(var(--cx-font-size-small));
    @include border-radius(var(--cx-border-radius-medium));

    &:hover,
    &:focus {
      color: var(--cx-fg-highlight);
      background-color: var(--cx-bg-highlight);
    }

    &.active {
      font-weight: 600;
      color: var(--cx-fg-active);
      background-color: var(--cx-bg-active);
    }

    &:visited:not(.active):not(:hover):not(:focus) {
      color: var(--cx-fg-color);
    }
  }
}
