@use "@chassis-ui/css/scss/mixins" as *;

// stylelint-disable selector-max-type, selector-no-qualifying-type
@layer custom {

  .cxd-toc {
    @include media-breakpoint-up(large) {
      position: sticky;
      top: 4rem;
      right: 0;
      z-index: 2;
      // height: subtract(100vh, 7rem);
      height: calc(100vh - 4rem);
      padding: 1rem;
      padding-inline-end: 0;
      overflow-y: auto;
      color: var(--cx-fg-subtle);
      // border-image: linear-gradient(var(--cx-border-subtle) 25%, var(--cx-transparent-color) 50%) 1;
      // border-width: 0;
      // border-style: solid;
      border-inline-start: var(--cx-border-width) var(--cx-border-style) var(--cx-border-subtle);
    }
    @include media-breakpoint-between(medium, large) {
      padding: .5rem 1rem;
      margin-block-end: 1rem;
      background-color: var(--cx-bg-even);
      border: var(--cx-border-width) var(--cx-border-style) var(--cx-border-subtle);
      @include border-radius(var(--cx-border-radius-medium));
    }

    nav {
      @include font-size(.875rem);

      ul {
        padding-inline-start: 0;
        margin-block-end: 0;
        list-style: none;

        ul {
          padding-inline-start: 2rem;
          margin-inline-start: -1rem;
        }
      }

      a {
        display: block;
        padding: .125rem 0 .125rem .5rem;
        color: inherit;
        text-decoration: none;
        border-inline-start: .125rem solid transparent;

        @each $i in 1, 2, 3, 4, 5, 6 {
          &.level-#{$i} {
            padding-inline-start: $i * 1rem;
            margin-inline-start: $i * -1rem;
          }
        }

        &:hover,
        &.active {
          color: var(--cxd-toc-color);
          border-left-color: var(--cxd-toc-color);
        }

        &.active {
          font-weight: 500;
        }

        code {
          font: inherit;
        }
      }
    }
  }

  .cxd-toc-toggle {
    box-sizing: border-box;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(small) {
      justify-content: space-between;
      width: 100%;
    }

    @include media-breakpoint-down(medium) {
      color: var(--cx-fg-color);
      border: var(--cx-border-width) var(--cx-border-style) var(--cx-border-color);
      @include border-radius(var(--cx-border-radius-medium));

      &:hover,
      &:focus,
      &:active,
      &[aria-expanded="true"] {
        color: var(--cxd-subtle);
        background-color: var(--cx-bg-color);
        // border-color: var(--cxd-subtle);
      }

      &:focus,
      &[aria-expanded="true"] {
        box-shadow: 0 0 0 3px #{to-opacity(var(--cxd-subtle), .25)};
      }
    }
  }

  .cxd-toc-collapse {
    @include media-breakpoint-down(medium) {
      nav {
        padding: 1.25rem 1.25rem 1.25rem 1rem;
        background-color: var(--cx-bg-even);
        border: var(--cx-border-width) solid var(--cx-border-subtle);
        @include border-radius(var(--cx-border-radius-medium));
      }
    }

    @include media-breakpoint-up(medium) {
      display: block;
    }
  }
}
